.card-component {
  padding: 45rpx 0 28rpx 0;
  background: #f0f0f0;
  width: 100%;
  overflow: hidden;
  .card-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    transition: transform 0.15s linear;
    .card {
      width: 590rpx;
      height: 362rpx;
      background: -webkit-linear-gradient(left, #f6c068, #ee8547);
      margin-left: 30rpx;
      border-radius: 16rpx;
      position: relative;
      overflow: hidden;
      color:#fff;
      > image {
        width: 590rpx;
        height: 362rpx;
        position: absolute;
        left: 0;
        z-index: 1;
      }
      .card-detail {
        width: 590rpx;
        height: 362rpx;
        position: absolute;
        left: 0;
        z-index: 2;
        font-size: 30rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 36rpx 24rpx 0 38rpx;
          .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            image {
              width: 36rpx;
              height: 31rpx;
              margin-right: 24rpx;
            }
          }
        }
        .bottom {
          width: 100%;
          margin-bottom: 40rpx;
          height: 72rpx;
          position: relative;
          button {
            position: absolute;
            right: 24rpx;
            width: 220rpx;
            height: 72rpx;
            line-height: 72rpx;
            border-radius: 36rpx;
            border: 1rpx solid #fff;
            font-size: 30rpx;
            background: rgba(249, 249, 249, 0.4);
          }
        }
      }
    }
    .card-selected-0 {
      box-shadow: 0rpx 4rpx 24rpx rgba(161, 161, 161, 0.62);
    }
    .card-selected-1 {
      box-shadow: 0rpx 4rpx 24rpx rgba(252, 95, 3, 0.62);
    }
    .card-selected-2 {
      box-shadow: 0rpx 4rpx 24rpx rgba(195, 121, 3, 0.62);
    }
    .card-selected-3 {
      box-shadow: 0rpx 4rpx 24rpx rgba(0, 0, 0, 0.62);
    }
    .card:first-child {
      margin-left: 80rpx;
    }
    .VIP0,
    .TVIP0 {
      background: -webkit-linear-gradient(left, #dadada, #a0a0a0);
      color: #fff;
    }
    .VIP1,
    .TVIP1 {
      background: -webkit-linear-gradient(left, #f6c068, #ee8547);
      color: #fff;
    }
    .VIP2,
    .TVIP2 {
      background: -webkit-linear-gradient(left, #edcf90, #c69f60);
      color: #fff;
    }
    .VIP3,
    .TVIP3 {
      background: -webkit-linear-gradient(left, #55544a, #28272c);
      color: #e4d6ac;
      button {
        color: #e4d6ac;
        border: 1rpx solid rgba(228, 214, 174, 0.62) !important;
        background: rgba(228, 214, 174, 0.4) !important;
      }
      button::after {
        color: #e4d6ac;
        border: 1rpx solid rgba(228, 214, 174, 0.62) !important;
        background: rgba(228, 214, 174, 0.4);
      }
    }
  }
  .mark-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45rpx;
    .mark {
      width: 32rpx;
      height: 6rpx;
      border-radius: 3rpx;
      background: #ccc;
    }
    .mark:not(:first-child) {
      margin-left: 12rpx;
    }
    .mark-selected {
      background: #fdaf31;
      box-shadow: 0 2rpx 6rpx rgba(253, 159, 0, 0.62);
    }
  }
}
